<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hao.hzh_android">

    <!-- 极光推送必要配置 -->
    <permission
        android:name="com.hao.hzh_android.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".application.HzhApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.activity.CjsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".home.activity.DtqxActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.SyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.SyActivity2"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.TpjzActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.XyyhActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.TpjzActivity2"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.TpjzActivity3"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.MutilActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.LbActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.XcpzActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.EwmActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.ScewmActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.VideoEasyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.ChartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.LineChartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.BarChartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.PieChartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.DialogActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.UpdateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.GetValueActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.WebJdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.DbHandleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.DdxcActivity"
            android:screenOrientation="portrait"/>
        <!-- 若您的业务中有使用极光富媒体功能，或者极光早上好功能，需要把此 Activity 的 exported 修改成 true 覆盖 jcenter 上的组件。 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="true"
            tools:node="replace"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="cn.jpush.android.ui.PopWinActivity" />
                <category android:name="com.hao.hzh_android" />
            </intent-filter>
        </activity>

        <!-- 若您的业务中有使用极光富媒体功能，或者极光早上好功能，需要把此 Activity 的 exported 修改成 true 覆盖 jcenter 上的组件。 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            tools:node="replace"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.hao.hzh_android" />
            </intent-filter>
        </activity>

        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service android:name=".jpush.JpushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".jpush.JpushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.hao.hzh_android" />
            </intent-filter>
        </receiver>
    </application>
</manifest>